<div class="flip-container rating-<%= book.user_rating %>" data-gr-review-id="<%= book.gr_review_id %>" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
      <% unless book.user_rating.to_i == 0 %>
        <span class="book-stars-cover"><% book.user_rating.to_i.times do %>★<% end %><% (5 - book.user_rating.to_i).times do %>☆<% end %></span>
        <!-- <div id="diamond"><p><%= book.user_rating %></p></div> -->
      <% end %>
      <img src="<%= book.cover_img_url %>">
    </div>
    <div class="back">
      <!-- back content -->
      <div class="book-title"><span><%= book.title %></span></div>
      <div class="book-author"><span><%= book.author %></span></div>
      <div class="book-flexbox-wrapper-top">
        <div class="book-section-header">
          MY REVIEW
          <span class="book-stars">
          <% unless book.user_rating.to_i == 0 %>
            <% (5 - book.user_rating.to_i).times do %>☆<% end %><% book.user_rating.to_i.times do %>★<% end %>
          <% end %>
          </span>
        </div>
        <div class="book-user-review"><%= book.user_review %></div>
        <div class="book-section-header">ADDITIONAL INFORMATION</div>
      </div>
      <div class="book-flexbox-wrapper-description">
        <div class="book-info">
          <span>Community Avg. Rating: </span><%= book.gr_avg_rating %><br/>
          <span>Description: </span><%= book.description %>
        </div>
      </div>
      <div class="book-flexbox-wrapper-footer">
        <div class="book-tiny-urls"><a href="<%= book.gr_book_url %>">Goodreads</a> |
        <a href="http://www.amazon.com/gp/product/<%= book.isbn10 %>/?tag=shelfworm-20">Amazon</a></div>
      </div>
    </div>
  </div>
</div>
