<div class="container">
  <h1>Shelf Detail for <%= current_user.gr_full_name %>:</h1>

  <h2>Quick Stats:</h2>
  <ul>
    <li>Goodreads User ID: <%= current_user.gr_id %></li>
    <li>Shelfworm username: <%= current_user.username %></li>
    <li>Public shelf URL: <a href="www.shelfworm.com/<%= current_user.username %>">www.shelfworm.com/<%= current_user.username %></a></li>
    <li>Total books on shelf: <%= current_user.books.count %></li>
    <li>Goodreads profile URL: [TBU]</li>
    <li>Last login: [TBU]</li>
    <li>Last time someone viewed your profile: [TBU]</li>
  </ul>


  <h2>Book Detail:</h2>
  <% counter = 0 %>
  <% current_user.books.each do |book| %>
    <div class="book_entry">
      <% counter+= 1 %>
      <h3><%= counter %>) <%= book.title %></h3>
      <p>Author: <%= book.author %></p>
      <p>Your Rating: <%= book.user_rating %></p>
      <p>Community Avg. Rating: <%= book.gr_avg_rating %></p>
      <p>Cover: <a href="<%= book.cover_img_url %>"><%= book.cover_img_url %></a></p>
      <p><img src="<%= book.cover_img_url %>"></p>
      <p>ISBN13: <%= book.isbn13 %>
      <p>Goodreads link: <a href="<%= book.gr_book_url %>"><%= book.gr_book_url %></a></p>
      <p>Description: <%= book.description %></p>
      <p>My Review: <%= book.user_review %></p>
    </div>
  <% end %>

</div>

