<div class="container">
  <h1>Welcome to User # <%= @user.gr_id %>'s Bookshelf!</h1>

  <% counter = 0 %>
  <% @user.books.each do |book| %>
    <div class="book_entry">
      <% counter+= 1 %>
      <h3><%= counter %>) <%= book.title %></h3>
      <p>Author: <%= book.author %></p>
      <p>Your Rating: <%= book.user_rating %></p>
      <p>Community Avg. Rating: <%= book.gr_avg_rating %></p>
      <p>Cover: <a href="<%= book.cover_img_url %>"><%= book.cover_img_url %></a></p>
      <p><img src="<%= book.cover_img_url %>"></p>
      <p>ISBN10: <%= book.isbn10 %>
      <p>ISBN13: <%= book.isbn13 %>
      <p>Goodreads link: <a href="<%= book.gr_book_url %>"><%= book.gr_book_url %></a></p>
      <p>Description: <%= book.description %></p>
      <p>My Review: <%= book.user_review %></p>
    </div>
  <% end %>

</div>

